.cardlogin {
    width: 190px;
    padding: 1.9rem 1.2rem;
    text-align: center;
    background: #adc965;
    margin-top: 10%;
    margin-left: 45%;
    border-radius: 30px;
   }
   
   /*Inputs*/
   .field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #fac172;
    border-radius: 4px;
    padding: .5em 1em;
   }
   
   .input-icon {
    height: 1em;
    width: 1em;
    fill: #000000;
   }
   
   .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #000000;
   }
   
   /*Text*/
   .title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #000000;
   }
   
   /*Buttons*/
   
   
   #btn-link {
    color: #f5f5f5;
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
   }
   
   /*Hover & focus*/
   .field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
