/*Trabajo*/

@font-face {
  font-family: Raleway;
  src: url(Raleway.ttf);
}

div{
  color: #000000;
}

p{
  color: #000000;
  font-family: Raleway;
}

button{
  color: #000000;
  background-color: #fac172;
  font-family: Raleway;
  border: none;
  border-radius: 10%;
}

body button{
  color: #000000;
  background-color: #fac172;
  font-family: Raleway;
}

button:hover{
  background-color: #fe8357;
}

button:active{
  background-color: #e25b45;
}

body h1 {
  color: #000000;
  font-family: Raleway;
}

body h2 {
  color:#000000;
  font-family: Raleway;
}

h2 a{
  font-size: 80%;
  font-family: Raleway;
  color: #000000;
}

h2 a:link {
  color: #000000;
}

tr th{
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
}

h2 a:hover {
  color: #e25b45;
  text-decoration: none;
}

h2 a:active {
  color: #fac172;
  text-decoration: none;
}
.logorestaurante{
  width: 200px;
  height: 200px;
  display: block;
margin: auto;
background-color: black;
}
/*Centrar tabla*/
table {
width: 100%;
border-collapse: collapse;
}

body a{
  color: #000000;
  font-family: Raleway;
}
body a:hover{
  color: #e25b45;
  text-decoration: none;
}
body a:active{
  color: #fac172;
  text-decoration: none;
}

img{
  border-radius: 5%;
}



td {
    background-color: #adc96588;
    font-size: 25px;
    color:#000000;
    font-family: Raleway;
    text-align: center;
}

.cambiar-estado {
  background-color:#97b941;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  }
input[type="text"] {
padding: 0.5em;
margin-bottom: 1em;
width: 300px;
}

input[type="submit"] {
background-color: #97b941;
color: white;
padding: 0.5em 1em;
border: none;
cursor: pointer;
}

input[type="text"]{
  color: #97b941;
  font-family: Raleway;
}

input[type="email"]{
  color: #97b941;
  font-family: Raleway;
}

input[type="password"]{
  color: #97b941;
  font-family: Raleway;
}

form{
  color: #000000;
  font-family: Raleway;
}

.form-container {
width: 500px;
margin: 0 auto;
padding: 1em;
background-color: rgba(255, 255, 255, 0.8);
border-radius: 10px;
}


/*
Indice:
clase_0: hipervinculos
clase_1: h2, clase_2 y 3: p
*/
.clase_1{
  left: 10%;
  position: relative;
}
.clase_1{
  color:#9c2241;
  font-weight: bold;
  
}
.clase_2{
    font-size: 40px;
    
    color: rgb(13, 143, 93);/*color de texto*/
    text-shadow: 1px 1px 1px black;/*Sombra al texto*/
    left:40%;
}

.clase_3{
    font-size: 30px;
    text-shadow: 1px 1px 1px black;/*Sombra al texto*/
    text-align: center;
    
}
.clase_3, .clase_0, h1{
    text-align: center;
    color: rgb(68, 12, 141);/*color de texto*/
}
.clase_0{
  font-size: 20px;
}
/*Imagen a la derecha de todo*/
.alinear_der{
    text-align: right;
    padding-right: 10%;
        
}
.cuadro{
  border-top-width:5px;
  border-top-style: dashed;
  border-top-color:rgb(36, 134, 158);
}

/* Poner una imagen como fondo de pantalla*/
body {
    background-image: url("/src/Style/img/bg.jpg");
    background-size: 20%;
    
}

/* spacing */
 HEAD

  table .cm{
    table-layout: fixed;/*dar a las columnas un tamaño segun el 
    ancho de sus celdas*/
    width: 100%;/*La tabla intentara ajustar su contenido (letras)
    con el espacio rectangular en donde fue ubicado.*/
    border-collapse: collapse;/*Quitar los bordes de la tabla,
    mejor conocido como espacios en blaco que rodea la tabla*/

  } 

  /*
  table {
    table-layout: fixed; dar a las columnas un tamaño segun el 
    ancho de sus celdas 
    width: 100%; La tabla intentara ajustar su contenido (letras)
    con el espacio rectangular en donde fue ubicado.
    border-collapse: collapse; Quitar los bordes de la tabla,
    mejor conocido como espacios en blaco que rodea la tabla
  } */
/* typography */
  /*th=encabezado y td=cuerpo
  letter-spacing=espacio entre letras de una palabra.
  arbol != a r b o l
  
  td {
    letter-spacing: 1px;
  }
  
  /*Centrar el texto tanto el encabezado como el cuerpo*/

  /*tfoot es un encabezado pero en la parte inferior de la tabla*/
  /*
  tfoot th {
    text-align: right;
  }
  */
  /*Diseño*/
  .cabecera {
    /*imagen gif*/
    background: url("/src/Style/img/f8b0d8ba8a7fd9a480f88e9cd347ae6e.gif");
    color: white;/*color de texto*/
    text-shadow: 1px 1px 1px black;/*Sombra al texto*/
  }

  /*Sombra que se le agrega a la imagen*/
  .columna {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    
  }
HEAD
  /*Bordado a la tabla*/
  tr{
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px

  }

  /*Centrar las cajas donde se ingresa el texto*/ /* Centrar todo-*/
  .centrar{
    text-align: center; /*Texto centrado*/
    display: table; /*Tambien sirve pa centrar tabla*/
    margin: auto; /*tabla centrada dentro de la página*/
  }
  .centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
#contenedorcentrado {
  
  
  background-color: #c4aae7;
  
  /*opacity: 0.50;
  filter: alpha(opacity=50);*/
  
  
  
  padding: 30px;
  box-sizing: border-box;
}

#contenedorcentrado2 {

  background-color: #c4aae7;
  
  /*opacity: 0.50;
  filter: alpha(opacity=50);*/
  padding-left: 14px;
  padding-right: 14px;
  
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
}

.topnav a {
  background-color: #97b941;
  color: #000000;
  text-align: center;
  padding: 0.5%;
  font-family: Raleway;
  font-size: 15px;
  width: 100%;
}

.topnav a:hover {
  background-color: #fac172;
  color: #000000;
  text-decoration: none;
}

.topnav .current{
  background-color: #adc96588;
}

.topnav a:active {
  background-color: #e25b45;
  color: #000000
}

.col-md-3 {
  padding: 15px;
  margin-top: 10px;
  margin-left:70px;


}

.product-container{
  text-align: center;

}

.page-nav{
  color: #000000;
  font-family: Raleway;
}

#dona {
  margin-right: 30%;
  margin-left: 30%
}

.boton1 {
   font-size: 20px;
   margin-bottom: 10%
}
.titulo{
  padding-top: 2%;
}
/*
Absolute toma como referencia 
Elemento posicionado mas cercano, no static "no estatico"
Este atributo no se puede aplicar con su hermano que seria 
terjetaCarrusel, por ende se usa del padre. En conclusion
itemCarrusel: relative
flechasCarrusel: absolute
Provocando que "tarjetaCarrusel" sea el que esta debajo de 
flechasCarrusel
*/
.itemCarrusel{
  height: 100%; /*Para que coincida con
  tamaño del contenedor*/
  position: relative;
}
.tarjetaCarrusel{
  height: 100%;
}
.flechasCarrusel{
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
/*El contenedorItemsCarrusel tiene el mismo
  tamaño que el primer Item carrusel, con overflow: hidden
  podemos recortar todos los demas itemCarrusel que no estan
  dentro de este.*/

.contenedorItemsCarrusel{
  height: 300px;/*Para fijar el tamaño del contenedor: Si esta desentrado "regular" aqui*/
  overflow: hidden;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


a{
  text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  
}

.ITEMcarrouselE {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.ITEMcarrouselE::-webkit-scrollbar {
  display: none;
  
}

.ITEMcard {
  scroll-snap-align: start;
  border-radius: 20px;
  height: 100%;
  width: 1300px;
  
  margin: 0.5%;
  padding: 0.5%;

}

.carrousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carrousel::-webkit-scrollbar {
  display: none;
  
}

.card {
  scroll-snap-align: start;
  border-radius: 30px;
  height: 100%;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #adc96588;
  margin: 0.5%;
  padding: 0.5%;

}
#contenedorlogin{
  padding-top: 100px;
}
/*Se agrego esto*/
.estiloo{
  display: flex;
  justify-content: center;
}

.titulo{
  display: flex;
  justify-content: center;
  font-size: larger;
}
.padding{
  padding-left: 15%;
}
.Vinetas{
  background-image: linear-gradient(45deg, #124677, #41ceaf, #25e45e);
  margin: 20px;
}

.card2 {
  width: 350px;
  height: 400px;
  display: inline-block;
  margin: 30px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #adc96588;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 0%;
}

.card2 img {
  width: 60%;
  height: 170px;
  object-fit: cover;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.selector{
  background-color: #adc965;
  width: 100%;
  border: none;
  border-radius: 15%;

}

.selectorcurrent{
  background-color: #adc96588;
  width: 100%;
  border: none;
  border-radius: 15%;

}

.restaurante{
  background-color: #adc965;
  border-radius: 15%;
  text-align: center;
}

.closed {
  color: #4f4f4f;
  background-color: #dddddd88;
  border-radius: 15%;
  text-align: center;
  }
  
  .closed img {
    filter: grayscale(100%);
  }